.gameContainer{
    display: flex;
    flex-direction: column;
}
.container{
    font-family: 'Roboto';
    margin: auto;
}
.box{
    border: 1px solid black;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}
.gameInfo{
    padding: 1rem;
}
