*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: whitesmoke;
    height: 3rem;
    font-size: 2rem;
    justify-content: flex-start;
    overflow: hidden;
}
nav ul{
    list-style: none;
}
nav ul li{
    margin: 0.5rem;
    padding: 0rem;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
h1{
    margin: 10rem;
}
.links{
    text-decoration: none;
    color: #222;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
}
footer{
    background-color: #222;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: underline;
    color: whitesmoke;
}
